html, body{
	background-color:#4d4c4e;
	width: 100%;
	height: 100%;
}
.navbar *{
	transition: all 0.2s;
}

#panorama{
	position: absolute;
	top: 0;
	z-index: 1;
}

/*==========================================
=            Override Bootstrap            =
==========================================*/

.navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
    margin-bottom: -5px;
}
.navbar{
	border:0;
	border-bottom: solid 5px #ffac4c;
	background-color: #404042;
	min-height: initial;
	border-radius: 0;
	z-index: 100;
	margin-bottom: 0;
}
.navbar-brand{
	padding-top: 0;
	padding-bottom: 0;
	position: absolute;
}
.navbar-brand img {
  -webkit-filter: drop-shadow(0 3px 3px #222);
  filter: drop-shadow(0 3px 3px #222);
  max-width: 190px;
}
.navbar-default .navbar-nav > li > a{
	color: #fafafc;
	font-size: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-shadow: 0 0 0 #000;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
	color: #ffac4c;
	text-shadow: 0 1px 1px #000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
	color: #ffac4c;
	background-color: transparent;
	text-shadow: 0 1px 1px #000;
}

/*Remove menu border in responsive*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border:none;
}
.navbar-collapse{
	box-shadow: none;
}

/*=====  End of Override Bootstrap  ======*/

/*================================
=            Contents            =
================================*/

/*.container-fluid.contents{
	height: 100%;
}*/
.container-fluid.contents {
	height: 100%;
	top: 0;
	position: absolute;
	width: 100%;
	overflow: auto;
}

.container-fluid.contents.sgloss{
	background: url(../images/s-gloss.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*=====  End of Contents  ======*/


/*======================================
=            Fixed-contents            =
======================================*/

.fixed-contents{
	position: absolute;
	width: 100%;
	display: block;
	bottom: 0;
	left: 0;
	text-align: center;
	/*display: none;*/
}
.fixed-contents .description{
	background-position: center center;
	background-repeat: repeat-y;
	padding: 8px 0;
}
.fixed-contents .description img{
	margin-bottom: 10px;
}
.fixed-contents .description p{
	color: #4d4c4e;
	font-size: 14px;
	padding-bottom: 0;
	margin-bottom: 0;
}
.fixed-contents a.CTA{
	display: inline-block;
	margin: 0 auto;
	color: #FFF;
	font-weight: bold;
	padding: 5px 0 10px;
	text-transform: uppercase;
}
.fixed-contents a.CTA:hover{
	text-decoration: none;
	text-shadow: 0 1px 1px #000;
}

/*=====  End of Fixed-contents  ======*/

/*================================
=            Cataloge            =
================================*/

.h_bullet_container{
    position: absolute;
    z-index: 100000;
    width: 100%;
    text-align: center;
    bottom: 25px;
    left: 48%;
    /*position: static;*/
}
.h_bullet_container ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.h_bullet_container ul li{
    float: left;
}
.h_bullet_container ul li a{
    display: block;
    padding: 4px;
    margin: 5px;
    border: solid 0px #000;
    background-color: #efefef;
    border-radius: 10px;
    opacity:0.5;
}
.h_bullet_container ul li a.active, .h_bullet_container ul li a:hover{
    opacity: 1;
}

.thumbNav *{
	transition: all 0.2s;
}
.thumbNav *{
	overflow: visible !important;
}
.thumbNav img{
	box-shadow: 0;
	cursor: pointer;
}
.thumbNav img:hover, .thumbNav .av img{
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

/*=====  End of Cataloge  ======*/



/*=====================================
=            Media Queries            =
=====================================*/

/* Large */
@media only screen and (max-width : 1200px) {
	/*body{
		background-color: #00f;
	}*/
	.navbar-brand img {
		max-width: 150px;
	}
}

/* Laptop */
@media only screen and (max-width : 992px) {
	/*body{
		background-color: #0f0;
	}*/
}

/* iPad */
@media only screen and (max-width : 768px) {
	/*body{
		background-color: #f00;
	}*/
	.navbar-brand img {
		max-width: 100px;
	}

	.h_bullet_container ul li a {
		border-radius: 100%;
		margin: 5px 10px;
		padding: 20px;
	}
}

/*=====  End of Media Queries  ======*/
